{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="jumbotron text-center">Accueil de mon site</h1>
    <div class="container mt-4">

        {% include "_flash.html.twig" %}

        <div class="row">
            <div id="contactForm" class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur beatae error nam quae reprehenderit tempore. Ab adipisci, aliquam amet cum dolorum laudantium nemo obcaecati perferendis quas saepe tenetur voluptate.
            </div>
        </div>
    </div>

{% endblock %}